
body {
    background-color: #FFC0CB;
    font-family: markerfelt,arial, sans-serif;
    text-align: center;
}
header {
   color: black;
   size: 10px; 
}
nav {
    font-weight: bold;
}

h1 {
    color: white;
    
    
}
h2 {
    color: white;
   
}

h3 {
    color: white;
}

p {
    color: #C71585;
    text-align: left;
}

.column {
    float: left;
    width: 50%;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
img, iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: white 5px solid;
    border-radius: 5%;
}
