
@font-face {
    font-family: crafty;
    src: url(fonts/playtime.ttf);
}

@font-face {
    font-family: retro;
    src: url(fonts/Retrofunkscriptpersonaluse-v6XO.otf);
}

@font-face {
    font-family: sunnyspells;
    src: url(fonts/SunnyspellsRegular-MV9ze.otf);
    font-stretch: initial;
}

@font-face {
    font-family: gvtime;
    src: url(fonts/GvtimeRegular-AL6Jg.otf);
    font-stretch: initial;
}

@font-face {
    font-family: montserrat;
    src: url(fonts/MontserratBold-p781R.otf);
    font-stretch: 50% 200%;
}

@font-face {
    font-family: kamryn;
    src: url(fonts/ArmWrestler.ttf);
    font-stretch: 50% 200%;
}

body {
    background-color: #9Bddff;
    font-family: montserrat, sans-serif;
    text-align: center;
    
    
}
div {
    margin-bottom: 30px;
}

nav {
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-left: 30px;
    font-size: 24px;
}

h1 {
    color: white;
    font-family: kamryn, sans-serif;
    font-stretch: 200%;
    /*text-shadow:
    -1px -1px 0 #C71585,
    1px -1px 0 #C71585,
    -1px 1px 0 #C71585,
    1px 1px 0 #C71585;*/
    font-size: 48px;
   
    
    
}
h2 {
    color: white;
    font-size: 32px;
    font-family: kamryn, sans-serif;
}

h3 {
    color: white;
    font-family: montserrat, sans-serif;
}

p {
    color: #36558f;
    text-align: left;
    font-family: montserrat, sans-serif;
    font-size: 125%;

}

ul{
    color: #36558f;
    text-align: left;
    font-family: montserrat, sans-serif;
    font-size: 125%;

}

header {
   color: #36558f;
   font-family: kamryn, sans-serif;
   padding-left: 15px;
   align-items: right;
}

header a{
    color: #36558f;
    font-family: kamryn, sans-serif;
    text-align: right;
    padding-left: 15px;
 }

.column {
    float: left;
    width: 50%;
    
    
}



.column3 {
    float: left;
    width: 33%;
   
}


.column4 {
    float: left;
    width: 25%;
    
}

.column23 {
    float: left;
    width: 66%;
   
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
img, iframe video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: white 5px solid;
    border-radius: 5%;
}



.box{
    background-color: white;
    
    margin: auto;
    border: white 5px solid;
    top: 50%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

   
}

.box h3{
    color:#FF769d;
    font-family: kamryn, sans-serif;
    font-size: 30px;
}
.box a:hover{
    color:#FF769d;
   
}

.box2{
   
    
    margin: auto;
    
    top: 50%;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

   
}

.projects img {
    height: 225px;
    width: auto;
    margin-top:20px;
}

.projects img:hover {
    opacity: 50%;
}

.gallery .column3 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#36558f;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;  
    position: absolute;
    z-index: 1;
    
   
}


  .gallery img {
    height: 275px;
    width: auto;
  }

  .gallery .column3:hover .tooltiptext {
    visibility: visible;
  }

 
  a:visited {
    color: #36558f
  }

  a:link {
    color: #36558f
  }
  a:hover {
    color: white;
  }